.App {
  text-align: center;
  min-height: 100vh;
  background-color: #212121;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.App-header {
  background-color: #212121;
  min-height: 12vh;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #ADE4C0;
}

.submit-new-ticket-label{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: 0 8px ;
}

.submit-new-ticket-label-text{
  color: #ADE4C0;
  font-weight: 700;
  border-radius: 8px;
}

.submit-new-request{
  border: 1px solid #ADE4C0;
  padding: 16px;
  margin:  16px 32px;
  margin-top: 0;
  border-radius: 24px;
  width: 60vw;
  display: flex;
  flex-direction: column;
}

.submit-request-form-field {
  background: rgb(77, 77, 77);
  color: white;
  border-radius: 20px;
  border: none;
  outline: none;
  margin: 4px;
  padding: 6px 10px;
  width: 40%;
}

.submit-request-description-field {
  background: rgb(77, 77, 77);
  color: white;
  border-radius: 20px;
  border: none;
  outline: none;
  margin: 4px;
  padding: 10px;
  width: 90%;
  height: 12vh; 
  resize: none !important; 
}

.submit-ticket-button{
  margin: 16px;
  padding: 8px;
  width: 30%;
  cursor: pointer;
  background-color: #ADE4C0;
  color: black;
  font-weight:600;
  border-radius: 25px;
  border: none;
}

.user-message {
  margin: 20px;
  padding: 20px;
  border-radius: 10px;
  text-align: left; /* Align text to the left for better readability */
  max-width: 70vw;
  min-width: 50vw;
  white-space: pre-wrap;
}

.user-message-success {
  border: 1px solid #ADE4C0;
  background-color: rgba(173, 228, 192, 0.6);
}

.user-message-error {
  border: 1px solid red;
  color: rgb(233, 178, 178);
  background-color: rgba(185, 23, 23, 0.55);
}

.spinner-border{
  color: #ADE4C0;
}