/* BackOfficeApp.css */
.App {
  font-family: Arial, sans-serif;
  text-align: center;
}

.ticket-details {
  margin: 20px;
  padding: 20px;
  border: 1px solid #ADE4C0;
  border-radius: 10px;
  background-color: rgba(173, 228, 192, 0.6);
  text-align: left; /* Align text to the left for better readability */
  max-width: 70vw;
  min-width: 50vw;
}

.ticket-detail {
  margin-bottom: 0;
}

.ticket-detail-description {
  margin-top: 8px;
}

.ticket-detail {
  word-wrap: break-word; /* Break long words */
  word-break: break-all; /* Force break all words if necessary */
}

.ticket-reply-field {
  background: rgba(33, 33, 33, .8);
  color: white;
  border-radius: 20px;
  border: none;
  outline: none;
  margin-top: 8px;
  padding: 10px;
  width: 100%;
  height: 16vh; 
  resize: none !important; 
}

.submit-reply-button{
  margin-top: 8px;
  padding: 8px;
  width: 20%;
  cursor: pointer;
  background-color: #ADE4C0;
  color: black;
  font-weight:600;
  border-radius: 20px;
  border: 1px solid rgba(33, 33, 33, .8);
  min-width: fit-content;
}

.ticket-detail-header{
  display: flex;
  justify-content: space-between;
}

.ticket-dropdown .dropdown-toggle::after {
  display: none !important; /* Remove default arrow */
}

.ticket-dropdown{
  display: flex;
  padding: 8px 
}

#ticket-dropdown-toggle {
  background: none;
  border: none;
  padding: 2px;
  color: var(--bs-black);
}

.dropdown-menu {
  background-color: rgba(172, 178, 180, 0.8);
  backdrop-filter: blur(8px); 
  -webkit-backdrop-filter: blur(8px);
}

.change-status-button {
  font-weight: 600;
  color: black !important; /* Prevent bootstrap from turning text white on click*/
}

.dropdown-item:hover{
  background-color: rgba(173, 228, 192, 0.6);
}

.delete-ticket-button{
  font-weight: 600;
  color: red !important;
}
